{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panuvit Chantara</title>

    <link rel="stylesheet" href="{% static '/css/main-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
</head>

<body class="full super-center-grid">
    <div class="super-center-grid main-layout default-shadow">
        <h1>Panuvit Chantara</h1>
        <a href="/interval">Javascript setInterval</a>
        <a href="/button">Javascript button</a>
        <a href="/team-list">Name List Pages</a>
    </div>

</body>

</html>